
<!--partial:views/view_enroll_partial.html-->
<div class="row"> 
  <div id="sidebar--" class="span3">
<!--partial:html/sidebar.html-->
<fixscroll data-ng-transclude="">

  <div class="">
    <a href="courses/apprenticeship">
      <image width="200px"  style="padding:5px 0 12px 9px"
             ng-src={{cachify("images/Apprenticeship_button_website.jpg")}}> </image>
    </a>
  </div>

  <!-- <div ng-show="!signedIn() && !signingIn()" ng-class="getPageClass" id="greendoor"> -->
  <div ng-show="true" ng-class="getPageClass" id="greendoor">
    <div class="doorlinks">
      <div class="heading" ng-bind-html-unsafe="page.heading"></div>
      <ul>
        <div ng-repeat="link in page.links">
          <li ng-class="isSelected(link.route)" >
            <div ng-switch on="link.download">
              <a ng-switch-when="true" ng-href="{{link.route}}"
                 target="{{link.file && '_blank' || ''}}" download>{{link.label}} </a>
              <a  ng-switch-default ng-href="{{link.route}}"
                  target="{{link.file && '_blank' || ''}}" >{{link.label}} </a>
            </div>
            <ul>
              <li ng-class="isSelected(sublink.route)"ng-repeat="sublink in link.sub">

                <a ng-href="/{{sublink.route}}">{{sublink.label}}</a>
              </li>
            </ul>
          </li>
        </div>
      </ul>
      <div class="subtext" ng-bind-html-unsafe="page.subtext"></div>
    </div>
  </div>

</fixscroll>
</div>
  <div class="row">
    <div contenteditable="{{editable()}}" id="contents--" class="span7">
<!--partial:editable/enroll.html-->
<h2>Enrol with First Door</h2>
<p><strong><em>Congratulations on your decision to study with First Door. There are five easy steps to completing your enrolment:</em></strong></p>
<ol>
<li>Download and read our <a href="https://www.dropbox.com/s/51qgb81o0xhhnvm/FirstDoor_StudentHandbook.pdf">Student Handbook</a></li>
<li>Read the required course information or course guide</li>
<li>Complete the enrolment form for your course, and return to First Door by email or post</li>
<li>Pay your enrolment and first unit of study fee</li>
<li>Contact us if you require any further information. We are here to help</li>
</ol>
<p><strong><em>First Door will soon contact you to confirm receipt of your enrolment, and to discuss your training plan with you.</em></strong></p>
<p><strong>&nbsp;</strong></p></div>
    <div id="rightBar--" class="span2">
<!--partial:html/rightbar.html-->
<!-- <fixscrollright data-ng-transclude="">  -->
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.firstdoor.com.au&amp;linkname="><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/></a>
<script type="text/javascript">
 var a2a_config = a2a_config || {};
 a2a_config.linkurl = "http://www.firstdoor.com.au";
 a2a_config.onclick = 1;
</script>

<script type="text/javascript"
	src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<!-- <div class=""> -->
<!--   <a href="apprenticeship"> -->
<!--   <image width="160px"  style="padding-top:15px;" -->
<!--   ng-src={{cachify("images/Apprenticeship_button_website.jpg")}}> </image> -->
<!--   </a> -->
<!-- </div> -->

<div ng-show="show_events()">
  <div contenteditable="{{editable()}}" id="events_sidebar--">
<!--partial:editable/events_sidebar.html-->
<h3>Upcoming workshop events</h3>
<p>April 28: <a href="https://db.tt/UeW0TSaU"><strong>Develop teams and individuals</strong></a></p>
<p>May 5: <a href="https://www.dropbox.com/s/lo9levu7acj6u89/Partnership%20with%20families%20CBW%20invite.pdf">Partnership with families</a></p>
<p>May 19: <a href="https://db.tt/Eu7PgZKL">Developing cooperative behaviour</a></p>
<p>June 2: Health and safety of children</p>
<p>June 16:&nbsp;<strong>Plan and monitor continuous improvement</strong>&nbsp;&nbsp;</p>
<p>July 7:&nbsp;Promote and provide healthy food and drinks</p>
<p>July 21:&nbsp;<strong>Develop a workplace learning environment</strong>&nbsp;</p>
<p>August 4:&nbsp;Provide care for babies and toddlers&nbsp;</p>
<p>August 18:&nbsp;<strong>Mentor in the workplace</strong>&nbsp;</p>
<p>September 1: Provide care for children</p>
<p>See <a href="#!courses/#intro">more</a>.</p></div>

</div>

<form name="loginFormRight" action="#" method="POST">

  <br>
  <h4><b ng-bind-html-unsafe="getContactUsText()"></b></h4>
  <div ng-show="!sent">
    <label class="form-label ">Name<span class="form-required">*</span></label>
    <div class="controls controls-row control-group {{namemissing}}">

      <input class="span1" placeholder="First" type="text" id="username_first" name="username_first" required/>
      <input class=" span1" style=" margin-left: 5px; width: 80px;" placeholder="Last" type="text" id="username_last" name="username_last" required/>
    </div>

    <label class="form-label">Email<span class="form-required">*</span></label>

    <div class="control-group {{emailmissing}}">
      <input class="span2" type="email" id="email" name="email" required/><br/>
    </div>

    <label class="form-label">Message<span class="form-required">*</span></label>

    <div class="control-group {{msgmissing}}">
      <textarea class="span2 required" id="textmessage" rows="3" cols="60"></textarea></br>
    </div>
    <input ng-click="clicksend($event)" class="btn btn-primary"style="" type="submit" id="send"
           value="Send" />
    <div id="captchadiv"></div>
  </div>
  <div ng-show="sent" class="well">
    Thanks for contacting First Door. We will be in touch within the next 24 hours.
  </div>
</form>
{{result}}


<!-- </fixscrollright> -->
</div>
  </div>
</div> 


