<div class="row"> 
  <div id="sidebar--" class="span3"><fixscroll data-ng-transclude=""> 
  <div id="greendoor"> 
    <div class="doorlinks"> 
      <div class="heading" ng-bind-html-unsafe="page.heading"></div>
      <ul>
	<li ng-class="isSelected(link.route)" ng-repeat="link in page.links">
	  <a ng-href="/{{link.route}}">{{link.label}}</a>
	  <ul> 
	    <li ng-class="isSelected(sublink.route)"ng-repeat="sublink in link.sub">
	      
	      <a ng-href="/{{sublink.route}}">{{sublink.label}}</a>
	    </li>
	  </ul>	
	</li>
      </ul>
      <div class="subtext" ng-bind-html-unsafe="page.subtext"></div>
    </div> 
  </div> 
</fixscroll>

</div>
  <div id="slideShow--" class="span9"><div class="flexslider"><ul class="slides"><li><img src="images/slides/home_page_Early_Childhood_Education_and_Care_training.jpg"><div class="slide-caption"><h3>undefined</h3> </div> </li><li><img src="images/slides/home_page_interactive_professional_development.jpg"><div class="slide-caption"><h3>undefined</h3> </div> </li><li><img src="images/slides/home_page_First_Door_mentoring.jpg"><div class="slide-caption"><h3>undefined</h3> </div> </li><li><img src="images/slides/home_page_engaging_resources.jpg"><div class="slide-caption"><h3>undefined</h3> </div> </li></ul> </div></div>   
  
  <div class="row">     
    <div id="homeContents--" class="span7"><div scroll id="welcome"></div>
<div ng-show="isShow('welcome')" >
  <div id="welcome--"><h2>Welcome to First Door Training and Development</h2>
<p>Choosing a job role to enrich and touch people&rsquo;s lives is a career choice that has the ability to impact on individuals, communities and our society.</p>
<p>As trainers of people in the Early Childhood workforce we are passionate about inspiring students and developing capability. Our courses and professional development workshops encompass the National Quality Framework and bridge theory to experiences in workplace practice.</p>
<p>First Door recognises the need and value of workplace learning and provides courses to create learning organisations with skilled mentors, leaders and managers.</p>
<blockquote>
<p><em>&ldquo;I alone cannot change the world, but I can cast a stone across the waters to create many ripples.&rdquo;</em> Mother Teresa</p>
</blockquote>
</div>
</div>

<div scroll id="specialists"></div>
<div ng-show="isShow('specialists')" >
  <div id="specialists--"><h2>Specialists in Early Childhood training and development</h2>
<p>First Door specialises in delivering meaningful training within the <strong>Early Childhood and Outside School Hours Care sector.</strong> We promote the need to create learning organisations where each centre or service operates with <strong>skilled mentors and an effective educational leader. </strong></p>
<p><a href="index.html#!/pd?page=intro">Professional development workshops</a>&nbsp;<br />We deliver interactive professional development that encompasses the <strong>National Quality Framework</strong> combining relevant theory with practical work related experiences.</p>
<p><a href="index.html#!/courses">Accredited training </a><br />Our application to the Australian Skills Quality Authority has been submitted to become a Registered Training Organisation (RTO). Accredited training is subject to registration and will only proceed once First Door is registered as a RTO.</p></div>
</div>


<div scroll id="engaging"></div>
<div ng-show="isShow('engaging')" >
  <div id="engaging--"><h2>Engaging resources and environments</h2>
<h3>Engaging resources</h3>
<p>We are committed to ensuring our resources are relevant and meaningful combining learning with real work experiences. First Door prepares the student workbook for each unit to ensure practical work-based activities and assessment tasks that allow students to practice and understand theory.</p>
<h3>Engaging learning environments</h3>
<p>First Door creates learning environments that connect learning and people through:</p>
<ul>
<li>face to face workshops</li>
<li>First Door social media communities</li>
<li>workplace mentoring</li>
</ul></div>
</div>


<div scroll id="mentor"></div>
<div ng-show="isShow('mentor')" >
  <div id="mentor--"><h2>Your personal mentor</h2>
<p>First Door undertakes to provide an arranged monthly workplace mentoring meeting for each student. Where this is not possible, due to the location of the centre, then a monthly skype or facetime meeting is arranged between student and mentor. This meeting allows for:</p>
<ul>
<li>review of the student&acirc;&euro;&trade;s previous assessment and feedback</li>
<li>thirty minutes workplace observation and assessment</li>
<li>fifteen minutes to provide constructive feedback</li>
<li>assistance with understanding of the current workbook and assessment activities</li>
<li>guidance, inspiration and support for each student</li>
</ul></div>
</div>


<div scroll id="constructive"></div>
<div ng-show="isShow('constructive')" >
  <div id="constructive--"><h2>Constructive and timely assessment</h2>
<p>Assessment is the process of gathering evidence to determine the competency of each student based on the National accredited training requirements. First Door undertakes to return student workbooks and assessment to the student <strong>within fourteen days of receipt.</strong> Assessment feedback is provided to guide a student on their progress and address any areas of difficulty.</p>
<p>First Door assessment comprises of: <br /><strong>A paper workbook records:</strong></p>
<ul>
<li>evidence through the student&rsquo;s handwritten account of workplace experiences that demonstrates the student&rsquo;s required knowledge and ability to use the theory of the unit.</li>
<li>a workplace supervisor and First Door mentor&rsquo;s assessment of student competency in workplace practice.</li>
<li>evidence of a student&rsquo;s practical skills through documentation of workplace activities and in their reflective writing.</li>
</ul>
<p>The workbook is submitted to First Door using the provided postage paid envelope.</p>
<h3>Assessment tasks</h3>
<p>Wherever possible, assessment tasks are completed by students as computer documents and submitted to First Door by email. First Door attempts to make assessment questions/activities relevant to the student&rsquo;s workplace experiences to provide the student with authentic learning and meaningful assessment.</p></div>
</div>

</div>
    <div id="rightBar--" class="span2"></div>
    
  </div>   
</div> 
