
<!--views/view_filebrowser_partial.html-->
<div class="row"> 
  <div class="span3">
    <span ng-repeat="dir in path.dirs()">
      <a href='' ng-click="getPathTill({{$index}})">{{dir}}</a>
    </span>
  </div> 
  <div class="span7">
    {{fileName}}
  </div> 
</div> 
<div class="row"> 
  <div id="fbColumn1--" class="span3">
    <div class="contentBox">
      <div compile="fileList"></div>
    </div>
  </div>
  <div id="fbColumn2--" class="span9">
    <div id="epiceditor" class="epiceditors"></div>
    <!-- <div class="contentBox" style="float:right;"> -->
    <!--   {{fileContent}} -->
    <!-- </div> -->
  </div>
  <!-- <div id="rightBar--" class="span4"></div> -->
</div> 
