<div class="row"> 
  <div id="sidebar--" class="span3"><fixscroll data-ng-transclude=""> 
  <div ng-class="getPageClass" id="greendoor"> 
    <div class="doorlinks"> 
      <div class="heading" ng-bind-html-unsafe="page.heading"></div>
      <ul>
	<div ng-repeat="link in page.links">
	<li ng-class="isSelected(link.route)" >
	  <a ng-href="/{{link.route}}">{{link.label}}</a>
	  <ul> 
	    <li ng-class="isSelected(sublink.route)"ng-repeat="sublink in link.sub">
	      
	      <a ng-href="/{{sublink.route}}">{{sublink.label}}</a>
	    </li>
	  </ul>	
	</li>
	</div>
      </ul>
      <div class="subtext" ng-bind-html-unsafe="page.subtext"></div>
    </div> 
  </div> 
</fixscroll>

</div>
  <div class="span9 inline-image embed-container ratio-tabimage ">     
    <img class="" ng-src="{{getHeaderImage()}}"/>
  </div>
  <div class="row">
    <div id="contents--" class="span7"><div scroll id="intro"></div>
<div ng-show="isShow('intro')" >
  <div id="intro--"><h2>Accredited Training</h2>
<p>Accredited training is subject to registration and will only proceed once First Door is registered as a Registered Training Organisation.</p>
<p>During the enrolment process each student will commence either a Structured or Flexi learning plan to best support their success.</p></div>
</div>

<div scroll id="childrenservices"></div>
<div ng-show="isShow('childrenservices')" >
  <div id="childrenservices--"><h2>CHC50908 Diploma of Children's Services (Early Childhood Education
  and Care)</h2>

<h3>CORE UNITS</h3>

<pre><code>CHCCN511B       Establish and maintain a safe and healthy environment for children
CHCFC502A       Foster physical development in early childhood
CHCFC503A       Foster social development in early childhood
CHCFC504A       Support emotional and psychological development in early childhood
CHCFC505A       Foster cognitive development in early childhood
CHCFC506A       Foster children's language and communication development
CHCIC501B       Manage children's services workplace practice to address regulations and quality assurance
CHCIC510A       Establish and implement plans for developing cooperative behaviour
CHCFC507A       Use music to enhance children’s experiences and development.
CHCPR502E       Organise experiences to facilitate and enhance children's development
CHCPR509A       Gather, interpret and use information about children
CHCPR510B       Design, implement and evaluate programs and care routines for children
CHCRF511A       Work in partnership with families to provide appropriate care for children
</code></pre>

<h3>ELECTIVES (Choose five units)</h3>

<pre><code>HLTHIR403C      Work effectively with culturally diverse clients and co-workers
CHCIC512A       Plan the inclusion of children with additional needs
CHCFC508A       Foster children's aesthetic and creative development
CHCORG428A      Reflect on and improve own professional practice
BSBMGT608C      Manage innovation and continuous improvement
BSBRSK501A      Manage risk (recommended if continuing with Diploma of Management as it is an elective)
</code></pre>
</div>
</div>

<div scroll id="diploma_management"></div>
<div ng-show="isShow('diploma_management')" >
  <div id="diploma_management--"><h2>BSB51107 Diploma of Management</h2>


<pre><code>BSBMGT608C  Manage innovation and continuous improvement
BSBRSK501B  Manage risk
BSBLED501A  Develop a workplace learning environment
</code></pre>


</div>
</div>
<div scroll id="certivtraining"></div>
<div ng-show="isShow('certivtraining')" >
  <div id="certivtraining--"><h2>TAE40110 Certificate lV in Training and Assessment</h2>

<p>Units are recommended for Lead Educators and Educational Leaders</p>

<pre><code>TAEDEL301A  Provide work skill instruction
    TAEDEL404A  Mentor in the workplace
    BSBLED401A  Develop teams and individuals
</code></pre>
</div>
</div>

</div>
    <div id="rightBar--" class="span2"><!-- <fixscrollright data-ng-transclude="">  -->
  <!-- AddToAny BEGIN -->
  <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.firstdoor.com.au&amp;linkname="><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/></a>
  <script type="text/javascript">
    var a2a_config = a2a_config || {};
    a2a_config.linkurl = "http://www.firstdoor.com.au";
    a2a_config.onclick = 1;
  </script>
  <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->



  <form name="loginFormRight" action="#" method="POST">
    
<br>
    <h4><b>Contact us, we are here to help you.</b></h4>
    <div ng-show="!sent">
      <label class="form-label ">Name<span class="form-required">*</span></label>
      <div class="controls controls-row control-group {{namemissing}}">
	
	<input class="span1" placeholder="First" type="text" id="username_first" name="username_first" required/>
	<input class=" span1" style=" margin-left: 5px; width: 80px;" placeholder="Last" type="text" id="username_last" name="username_last" required/>
      </div>
      
      <label class="form-label">Email<span class="form-required">*</span></label>
      
      <div class="control-group {{emailmissing}}">
	<input class="span2" type="email" id="email" name="email" required/><br/>
      </div>
      
      <label class="form-label">Message<span class="form-required">*</span></label>
      
      <div class="control-group {{msgmissing}}">
	<textarea class="span2 required" id="textmessage" rows="3" cols="60"></textarea></br>
      </div> 
      <input ng-click="clicksend($event)" class="btn btn-primary"style="" type="submit" id="send"
	     value="Send" />
      <div id="captchadiv"></div> 
    </div>
    <div ng-show="sent" class="well">
      Thanks for contacting First Door. We will be in touch within the next 24 hours.
    </div>
  </form> 
  {{result}} 
  
  
<!-- </fixscrollright> -->
</div>
  </div>
</div> 
