
<!--partial:views/view_aboutus_partial.html-->
<div class="row"> 
  
  <div id="sidebar--" class="span3">
<!--partial:html/sidebar.html-->
<fixscroll data-ng-transclude="">

  <div ng-class="getPageClass" id="greendoor">
    <div class="doorlinks">
      <div class="heading" ng-bind-html-unsafe="page.heading"></div>
      <ul>
        <div ng-repeat="link in page.links">
          <li ng-class="isSelected(link.route)">
            <div ng-switch="" on="link.download">
              <a ng-switch-when="true" ng-href="{{link.route}}" target="{{link.file &amp;&amp; '_blank' || ''}}" download="">{{link.label}} </a>
              <a ng-switch-default="" ng-href="{{link.route}}" target="{{link.file &amp;&amp; '_blank' || ''}}">{{link.label}} </a>
            </div>
            <ul>
              <li ng-class="isSelected(sublink.route)" ng-repeat="sublink in link.sub">

                <a ng-href="/{{sublink.route}}">{{sublink.label}}</a>
              </li>
            </ul>
          </li>
        </div>
      </ul>
      <div class="subtext" ng-bind-html-unsafe="page.subtext"></div>
    </div>
  </div>

  <div class="">
    <image height="87" width="100" style="display:block;margin-left:35px;margin-right:auto;padding:16px 0 0 20px;" ng-hide="hide_nrtlogo()" ng-src="{{cachify(&quot;images/nrtlogoclsm.png&quot;)}}"> </image>
  </div>

  <div class="">
    <a href="courses/apprenticeship">
      <image width="160px" style="padding:15px 0 20px 20px" ng-src="{{cachify(&quot;images/Apprenticeship_button_website.jpg&quot;)}}"> </image>
    </a>
  </div>
  <div ng-show="signingIn()" class="editor well"> Signing in...</div>
  <div ng-show="signedIn()" class="editor well">

    <!-- <div ng-show="mode=='edit'"> -->
    <!-- <a ng-hide="signedIn()" href="#" class="persona-button blue" ng-click="login($event)"><span>Sign in</span></a> -->
    <!-- <a ng-show="signedIn()" href="#" class="persona-button blue" ng-click="logout($event)"><span>Sign out</span></a> -->
    <!-- </div> -->
    <div style="height:20px;">Logged in:</div>
    <div style="float:left;">{{email()}} </div>
    <p></p>
    <!-- <button ng-hide="editable()" class="btn btn-primary"  type="button" ng-click="toggleEditable()">Edit</button> -->
    <!-- <button ng-show="editable()" class="btn btn-primary"  type="button"
         ng-click="toggleEditable()">Done</button> -->
    <div ng-show="isDirty()">
      <button class="btn btn-primary" type="button" ng-click="saveEditable()">Save</button>
      <button class="btn btn-primary" type="button" ng-click="undoEditable()">Undo</button>
      <!-- <button class="btn btn-primary"  type="button" ng-click="printEditable()">Print editable</button> -- -->

    </div>
  </div>
</fixscroll>
</div>
  <div class="span9 inline-image embed-container ratio-tabimage ">     
    <img class="" ng-src="{{getHeaderImage()}}">
  </div>
  <div class="row">
    <div id="contents--" class="span7">
<!--partial:html/aboutus_stitch.html-->
<div scroll="" id="company"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('company')" id="company--">
<!--partial:editable/aboutus/ourcompany.html-->
<h2>Our company</h2></div>

<div scroll="" id="vision"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('vision')" id="vision--">
<!--partial:editable/aboutus/ourcompany_vision.html-->
<h2>Our vision: <em>'Leaders in developing capability'</em></h2>
<p><strong>Leaders</strong> <br> To be a leading and highly regarded training organisation within the Early Childhood Education and Care industry.</p>
<p><strong>Talented team</strong> <br> Our team is ethical, professional, creative, effective and passionate.&nbsp;</p>
<p><strong>Develops capability</strong> <br> First Door students are recognised for their higher level of skills, motivation and knowledge in the workplace. Therefore, employers and employees seek First Door as their preferred training organisation for capability development.</p>
<p><strong>Shared success<br></strong>First Door develops professional capability in our students so they can inspire, educate and support others. This culture of building success in people also benefits our stakeholders and society.</p></div>

<div scroll="" id="mission"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('mission')" id="mission--">
<!--partial:editable/aboutus/ourcompany_mission.html-->
<h2>Mission statement</h2>
<p><strong>Our purpose and identity; who we are, what we do and why we are here</strong></p>
<p><strong>Purpose - why we are here</strong> <br> First Door empowers those seeking to develop their professional capability, knowledge and skills in Management and the Early Childhood sector. Our purpose is to develop a motivated and highly skilled workforce that is able to make a positive difference to individuals and communities of people.</p>
<p><strong>Identity - who we are</strong> <br> First Door's passionate team leads by example and maintains professional integrity. We form connections within the industry to stay abreast with current issues and problems to be addressed in staff training and development.</p>
<p><strong>What we do</strong> <br> First Door bridges the gap between theory and best workplace practice by providing engaging resources and environments. First Door inspires focused students by providing support and structure in their learning with timely and constructive assessment processes.</p>
<p>We promote the need to create learning organisations for staff to learn, develop skills and capability. First Door provides courses to create leaders in learning within Early Childhood centres and businesses.</p></div>

<div scroll="" id="approach"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('approach')" id="approach--">
<!--partial:editable/aboutus/ourcompany_approach.html-->
<h2>Our student approach</h2>
<p>We connect students to:</p>
<ul>
  <li>best workplace practice and experiences to practice theory</li>
  <li>meaningful information to gain knowledge, and to conversations to explore knowledge</li>
  <li>relevant workplace related <a href="http://www.firstdoor.com.au/home/constructive">assessment</a> workbooks</li>
  <li>a personal industry experienced mentor.</li>
</ul>
<p>The student's success and active engagement is achieved through:</p>
<ul>
  <li><a href="http://www.firstdoor.com.au/home/mentor">mentoring</a> to support and inspire students</li>
  <li>study support access between 9am and 6pm weekdays</li>
  <li>engaging learning resources and environments<a href="https://www.facebook.com/firstdoortraining"><br></a></li>
  <li>industry relevant and interactive <a href="http://www.firstdoor.com.au/courses/intro">training workshops</a></li>
</ul>
</div>

<div scroll="" id="values"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('values')" id="values--">
<!--partial:editable/aboutus/ourcompany_values.html-->
<h2>First Door company values</h2>
<p>Our beliefs, traits and behavioural norms that guide the pursuit of the vision and mission, and those that company personnel are expected to display</p>
<ol>
<li>
<p>At all times we display ethical conduct first and foremost. Our integrity, honesty, reliability and commitment to provide excellence in training and assessment is unwavering.</p>
</li>
<li>
<p>First Door is a flexible and great place to work. Our team of people are effective and adaptable. We are respectful to all people and earn the respect of others. We are inspired to be the best we can be and are inspirational.</p>
</li>
<li>
<p>We place customer's needs and success at the heart of all we do. In doing so, we provide customers with outstanding service which is above and beyond their expectations.</p>
</li>
<li>
<p>First Door pursues innovation, improvement and growth. We are an adaptable and innovative organisation that solves problems for our stakeholders.</p>
</li>
<li>
<p>We take social responsibility seriously. It is our belief that all people have the right to live with respect, fairness and well-being. First Door training in the Community Services sector is focused on all people achieving quality of life.</p>
</li>
<li>
<p>First Door builds reciprocal connections within the community. We take pleasure in giving back to the community.</p>
</li>
<li>
<p>We are respectful to the environment. First Door takes action to educate others on environmental sustainability and reduce consumption of Earth's natural resources.</p>
</li>
</ol></div>

<div scroll="" id="namelogo"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('namelogo')" id="nameandlogo--">
<!--partial:editable/aboutus/nameandlogo.html-->
<h2>Our name and logo</h2>
<p><strong>First Door</strong> <br> The word first relates to a beginning and success, while a door symbolises opportunity. The Company name First Door was chosen to mean a new, successful beginning to provide opportunity in life.</p>
<p><strong>Training and development</strong> <br> Training sustains the workforce by improving the knowledge, skills and competency required to achieve the job role effectively and efficiently. Training and professional development increases capability, and therefore broadens a person's career scope.</p>
<p><strong>Our logo colours</strong> <br> Green, white and grey were chosen to symbolise:</p>
<ul>
<li>Green - new growth, renewal and moving forward.</li>
<li>White - freshness, clarity and innovation.</li>
<li>Grey - wisdom, expertise and experience.</li>
</ul>
<p>First Door Training and Development inspires people to seek new beginnings and growth, using knowledge and capability to open further doors of opportunity.</p></div>

<div scroll="" id="people"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('people')" id="people--">
<!--partial:editable/aboutus/people.html-->
<h2>Our people</h2>
<h3><strong>Founders and Directors</strong></h3>
<p>Brisbane women, Cindy Donald and Andrea Isitt knew as study partners that they had a great work ethic and capacity together. Backed with a complementary skill set, their passion for inspiring others through high quality education, and extensive experience in business, training and management they became the dynamic duo founding the Company First Door Training and Development Pty Ltd.</p>
<p><strong>Cindy Donald</strong></p>
<p><img style="float: right; margin-left: 20px;" src="http://www.firstdoor.com.au/images/Cindy_web.jpg" alt="Cindy Donald" width="150" height="200">Cindy has over twenty years of extensive experience in business management and has achieved Diplomas in Business Management and Hospitality (Operations). Cindy is also well experienced as a trainer and assessor. Throughout her career, Cindy's passion has been training and developing people to bring about the best possible results. She is also qualified with a Bachelor of Training and Development, and Certificate lV in Training and Assessment.</p>
<p>At First Door, Cindy has responsibility for:</p>
<ul>
<li>administration including financial and student management</li>
<li>compliance of our operations as a Registered Training Organisation as required by the Australian Skills Quality Authority</li>
<li>the continuous improvement of our operating policies and procedures</li>
<li>development and evaluation of the Management training portfolio.<br><br></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Andrea Isitt</strong></p>
<p><img style="float: right; margin-left: 20px;" src="http://www.firstdoor.com.au/images/Andrea_web.jpg" alt="Andrea Isitt" width="150" height="200">Andrea&rsquo;s career has focused on promoting learning and business development. She was the founder and Director of the franchised Company &lsquo;The Learning Years Ltd&rsquo; that promoted parents as first teachers. Andrea has a Diploma in Children&rsquo;s Services and several years of leadership experience in the Early Childhood Education and Care sector. Andrea is qualified with a Certificate lV in Training and Assessment, and a Bachelor of Training and Development. She has over twenty years of experience in training and developing staff, teams and businesses.</p>
<p>Andrea's key responsibilities at First Door include:</p>
<ul>
<li>business development including marketing and public relations</li>
<li>design and development of training resources</li>
<li>evaluation processes and continuous improvement of our training practices</li>
<li>Human Resource management</li>
<li>development and evaluation of the Early Childhood Education and Care training portfolio</li>
</ul></div>

<div scroll="" id="policies"></div>
<div contenteditable="{{editable()}}" ng-show="isShow('policies')" id="policies--">
<!--partial:html/policies.html-->
Download pdf file: <a target="_blank" href="https://dl.dropboxusercontent.com/u/121993962/Policies%20and%20Procedures%20May13.pdf">Firstdoor Policies.pdf</a>
</div>

<div scroll="" id="aboutus404"></div>
<div ng-show="is404()">This page does not exist..</div>
</div>
  <div id="rightBar--" class="span2">
<!--partial:html/rightbar.html-->
<!-- <fixscrollright data-ng-transclude="">  -->
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.firstdoor.com.au&amp;linkname="><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"></a>
<script type="text/javascript">
 var a2a_config = a2a_config || {};
 a2a_config.linkurl = "http://www.firstdoor.com.au";
 a2a_config.onclick = 1;
</script>

<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>

<!-- <div class=""> -->
<!--   <a href="apprenticeship"> -->
<!--   <image width="160px"  style="padding-top:15px;" -->
<!--   ng-src={{cachify("images/Apprenticeship_button_website.jpg")}}> </image> -->
<!--   </a> -->
<!-- </div> -->

<!-- AddToAny END -->
<div ng-show="show_events()">
  <div contenteditable="{{editable()}}" id="events_sidebar--">
<!--partial:editable/events_sidebar.html-->
<h3>Upcoming workshop events</h3>
<p>April 28: <a href="https://db.tt/UeW0TSaU"><strong>Develop teams and individuals</strong></a></p>
<p>May 5: <a href="https://www.dropbox.com/s/lo9levu7acj6u89/Partnership%20with%20families%20CBW%20invite.pdf">Partnership with families</a></p>
<p>May 19: <a href="https://db.tt/Eu7PgZKL">Developing cooperative behaviour</a></p>
<p>June 2: Health and safety of children</p>
<p>June 16:&nbsp;<strong>Plan and monitor continuous improvement</strong>&nbsp;&nbsp;</p>
<p>July 7:&nbsp;Promote and provide healthy food and drinks</p>
<p>July 21:&nbsp;<strong>Develop a workplace learning environment</strong>&nbsp;</p>
<p>August 4:&nbsp;Provide care for babies and toddlers&nbsp;</p>
<p>August 18:&nbsp;<strong>Mentor in the workplace</strong>&nbsp;</p>
<p>September 1: Provide care for children</p>
<p>See <a href="#!courses/#intro">more</a>.</p></div>

</div>

<form name="loginFormRight" action="#" method="POST">

  <br>
  <h4><b ng-bind-html-unsafe="getContactUsText()"></b></h4>
  <div ng-show="!sent">
    <label class="form-label ">Name<span class="form-required">*</span></label>
    <div class="controls controls-row control-group {{namemissing}}">

      <input class="span1" placeholder="First" type="text" id="username_first" name="username_first" required>
      <input class=" span1" style=" margin-left: 5px; width: 80px;" placeholder="Last" type="text" id="username_last" name="username_last" required>
    </div>

    <label class="form-label">Email<span class="form-required">*</span></label>

    <div class="control-group {{emailmissing}}">
      <input class="span2" type="email" id="email" name="email" required><br>
    </div>

    <label class="form-label">Message<span class="form-required">*</span></label>

    <div class="control-group {{msgmissing}}">
      <textarea class="span2 required" id="textmessage" rows="3" cols="60"></textarea><br>
    </div>
    <input ng-click="clicksend($event)" class="btn btn-primary" style="" type="submit" id="send" value="Send">
    <div id="captchadiv"></div>
  </div>
  <div ng-show="sent" class="well">
    Thanks for contacting First Door. We will be in touch within the next 24 hours.
  </div>
</form>
{{result}}


<!-- </fixscrollright> -->
</div>
  </div>
  
</div> 
