<section id="footer-section">

  <!-- Footer Top -->
  <div id="footer" class=" paddingbottom" >
    <div class="border-footer-left"></div>
    <div class="border-footer-right"></div>
    <div class="container">
      
      <div class="row">

        <!-- Subscribe  -->
        <div class="span4">
          <div class="footer-headline"><h4>Subscribe</h4></div>
          <p>Keep updated with our news</p><p>Your email is safe with us!</p>
          <div class="input-append">
            <input  id="appendedInputButton"  type="text" class="span2" placeholder="Enter Email Address">
            <button class="btn" type="button">Subscribe!</button>
          </div>
        </div>

        <!-- Photo Stream -->
        <div class="span4">
          <div class="footer-headline"><h4>Photo Stream</h4></div>
          <div class="flickr-widget">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=26662207@N00"></script>
            <div class="clear"></div>
          </div>
        </div>

        <!-- Latest Tweets -->
        <div class="span4">
          <div class="footer-headline"><h4>Latest Tweets</h4></div>
          <ul id="twitter"></ul>
          <script type="text/javascript">
            jQuery(document).ready(function($){
            $.getJSON('http://api.twitter.com/1/statuses/user_timeline/wrapbootstrap.json?count=3&amp;callback=?', function(tweets){
            $("#twitter").html(tz_format_twitter(tweets));
            }); });
          </script>
          <div class="clear"></div>
        </div>

      </div>
    </div>
  </div>

  
  <!-- Footer / Bottom -->
  <div id="footer" class="footer-bottom" style="background: #111;">
    <div class="container">
      <div class="span12">

	<div id="footer-bottom">
          © Copyright, colophon, phone numbers, made by  <a href="#">
          soandso </a>etc

	</div>

      </div>
    </div>
    
  </div>

</section>
