<div style="" class="container" id="wrapper">
  <div id="layout-message">message
  </div>
  <div class="ie-dropdown-fix">
    <div class="row" id="layout-header">
      <div id="layout-logo" class="span5 logo">logo
      </div>
      <div id="layout-contact" class="span4 pull-right">contact
	<br>
      </div>
    </div>
    <div style="" id="layout-menu">menu
      <br>
    </div>
  </div>
  
  <div id="layout-slider">slider
  </div>
  <div id="layout-slogan">slogan </div>
    <div id="layout-sections">sections </div> 
  
</div>    


<div style="" id="layout-footer">
  <!--
      <div id="layout-footer-top">footer-top
      </div> -->
  <!--
      <div id="layout-footer-bottom" style="">footer-bottom
      </div> -->
</div>
