<!-- Navigation -->
<div class="ie-dropdown-fix" >
  <div id="navigation">

    <div class="left-corner"></div>
     <div class="right-corner"></div>

    <ul id="nav" class="menu">

      <li><a href="#" id="current"><i class="icon-home"></i> Home</a>
	<ul>
          <li><a href="index.html">Sequence Slider (Default)</a></li>
          <li><a href="index2.html">Flex Slider</a></li>
          <li><a href="index3.html">CSlider</a></li>
          <li><a href="index4.html">Static Image</a></li>
          <li><a href="index5.html">Video</a></li>
          <li><a href="index6.html">With Fixed Menu</a></li>
	</ul>

      </li>
      

      <!-- <li><a href="#"><i class="icon-briefcase"></i> Portfolio</a> -->
      <!-- 	<\!-- Second Level / Start -\-> -->
      <!-- 	<ul> -->
      <!--     <li><a href="portfolio-2.html">2 Columns</a></li> -->
      <!--     <li><a href="portfolio-3.html">3 Columns</a></li> -->
      <!--     <li><a href="portfolio-4.html">4 Columns</a></li> -->
      <!--     <li><a href="single-project.html">Single Project</a></li> -->
      <!-- 	</ul> -->
      <!-- 	<\!-- Second Level / End -\-> -->
      <!-- </li> -->
      
      <!-- <li><a href="#"><i class="icon-pencil"></i> Blog</a> -->
      <!-- 	<\!-- Second Level / Start -\-> -->
      <!-- 	<ul> -->
      <!--     <li><a href="blog.html">Default Blog</a></li> -->
      <!--     <li><a href="floated-blog.html">Floated Blog</a></li> -->
      <!--     <li><a href="blog-filter.html">Filtered Blog</a></li> -->
      <!--     <li><a href="blog-post.html">Single Post</a></li> -->
      <!-- 	</ul> -->
      <!-- 	<\!-- Second Level / End -\-> -->
      <!-- </li> -->
      <!-- <li><a href="#"><i class="icon-picture"></i> Gallery</a> -->
      <!-- 	<ul> -->
      <!--     <li><a href="gallery.html">Normal Gallery</a></li> -->
      <!--     <li><a href="floated-gallery.html">Floated Gallery</a></li> -->
      <!-- 	</ul> -->


      <!-- </li> -->

      <li><a href="contact.html"><i class="icon-envelope"></i> Contact</a></li>

    </ul>
  </div>



  <div class="clear"></div>

</div>
</div>
<!-- Navigation / End -->

