/* @font-face { */
/*   font-family: 'Droid Serif'; */
/*   src: url('../font/DroidSerif-Regular.ttf') format('truetype'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */
/* @import url(http://fonts.googleapis.com/css?family=Didact+Gothic); */
/* @import url(http://fonts.googleapis.com/css?family=Questrial); */
/* @import url(http://fonts.googleapis.com/css?family=Muli:400,400italic); */
html { height:100%; }
body {
    padding:0px;
    /* background: url(../images/bg/brushed_alu.png); */
    background: #fff;
    /* font-size: 11pt; */
    font-size: 14px; 
    height:100%;
    /* font-family: 'Droid Serif', serif !important; */
    /* font-family: 'Carrois Gothic',​sans-serif !important; */
    /* font-family: 'Exo',Trebuchet MS,Helvetica Neue,Arial,Sans-serif; */
    /* font-family: 'Open Sans',Trebuchet MS,Helvetica Neue,Arial,Sans-serif; */
    font-family: "Century Gothic", "Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
    
    /* color: #666; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Didact Gothic', sans-serif; */
    color: black;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

#container { 
    /* padding-left: 20px;  */
    /* padding-right: 20px;  */
    
    min-height:100%; position:relative}

#wrapper {
/*     background: #fff; */
/*     /\* margin: 0px auto 0px auto;  *\/ */
/*     box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);   */
/*     -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);   */
/*     -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);   */
/*     /\* padding-bottom: 50px;  *\/ */
/*     padding-left: 0px; */
/*     padding-right: 0px; */
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 340px;

}


#slideShow-- {
    /* padding-left: 50px;  */
    /* padding-right: 50px;  */
    /* margin-bottom: 0px; */
    /* padding-top:15px; */
}

.ng-view #image--  {
    /* padding-top:15px;  */
    /* padding-left:50px;  */
    /* padding-right:50px  */
    }


/* ---------------------------------= */
/* Header
----------------------------------- */
#header {min-height: 120px; padding-bottom: 10px;}

#logo-- {padding: 20px 30px 0px 10px;}

#top-line  {
    background-color: #3D9444;
}

/* #wisenetLogin { */
/*     padding-top: 0px;  */
/*     margin-top: 4px;  */
/*     margin-right: 4px; */
/*     } */
#studentLogin-- {
    padding-top: 5px;
    margin-left:0px;
    /* padding-right: 15px; */
    /* padding-bottom:10px; */
    }


.burnt-orange {
    color: #f26500; /*burnt orange*/
    }

#wisenetLogin:hover {
    background-color: #f26500;
    background-image: linear-gradient(to bottom, #f26500, #f26500);
   } 

#search {
    padding-right: 14px; 
    margin-right: 10px; 
    padding-bottom: 2px; 
    padding-top: 0px;
    }


#header-right {padding: 20px 0px 0px 0px;}



/* section.slider{margin-left: -10px; margin-right: -10px;} */


/* flexslider */
/* Caption
------------------*/
.slide-caption {

    padding: 10px;
    position: absolute;
    /* display: block; */
    display: none;
    
    width: 60%;
    bottom: 1%;
    right: 1%;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(70, 70, 70);
}


.slide-caption h3 {
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
    margin:0;
    line-height: 22px;
}

.slide-caption p {
    margin:0;
    line-height: 19px;
    color: #ccc;
}

.flexslider {
    padding: 10px 20px 15px 20px;
    }

/* Bottom */
#layout-footerBottom-- {
    color: #4F4F4F;
    background: #111111;
    padding: 15px;
    font-size: 10px;
}

#layout-footerBottom-- a{
 color:#AAAAAA;   
}    
	   
#layout-footerBottom-- a:hover{
    color: #3d9444;
   } 
    
.footer-headline {
    padding-bottom : 14px;
    padding-top:9px;
    }

#bottomRow {
   background-color: #333333; 
    color: #AAAAAA;
    padding-top: 2px;
    padding-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    /* width:1200px; */
    }

#bottomBar {
   background-color: #333333; 
}

#bottomContainer{background: #111;
		 padding:0px;
		 border-top: 5px solid #DEDEDE;
		 position:absolute;
		 bottom:0px;
		 width:100%;
		}

#footerBottom-- {
    /* text-align:right; */
    color: gray;
    font-size:10px;
}


.footer-headline {
    display: block;
    margin: 15px 0 8px 0;
    border-bottom: 1px dashed rgb(87, 87, 87);
}


.footer-headline h4 {
    font-weight: normal;
    border-bottom: 1px solid #fff;
    display: inline;
    padding: 0 10px 1px 0;
    color: #fff;
    font-size: 10px;
}

#contents-- img {
    margin-left:0px;
    
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFFFFF;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 4px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFFFFF;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 4px;
    border-top-color: #FFFFFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    padding:2px;
    border:0px;
}
/* Photo Stream
------------------*/

.flickr-widget { margin-bottom:14px;}
.flickr-widget a { float:left; margin:0 1px 1px 0; opacity: 0.5; filter: alpha(opacity=50);  -webkit-transition: opacity 0.31s ease; -moz-transition: opacity 0.31s ease; -ms-transition: opacity 0.31s ease; -o-transition: opacity 0.31s ease; transition: opacity 0.31s ease;}
.flickr-widget a img { margin:0; width:60px; height:60px; box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.7);  }
.flickr-widget a:hover { opacity: 1; filter: alpha(opacity=100);}



/* #footer{position: relative;} */
/* #footer, #footer p, #footer a{color: #aaa} */
/* /\*#footer a:hover {color: #fff;}*\/ */
/* .footer-bottom{background: #111;} */




/* Footer - Twitter Widget 
------------------*/ 
#twitter { 

    float: left; 
    display: block; 
    list-style: none; 
    margin: 0px; 
} 

#twitter b a, #twitter b a:hover {color: #707070} 
#twitter li {line-height: 18px; margin: 2px 0 12px 0; 
             background: url(../images/tweet.png) no-repeat left top; 
             padding-left: 25px; 
             background-position-y: 4px; 
} 
#twitter li:last-child {padding: 0; margin: 0;background: url(../images/tweet.png) no-repeat left top; 
                        padding-left: 25px; 
                        background-position-y: 4px; 
} 
#twitter a {color: #fff;} 
#twitter a:hover {color: #F38630;} 

/* #layout-footerLeft { */
/*     padding: 10px 0 5px 20px; */
/* } */

#appendedInputButton {
    width: 130px;
}
/* /\* Footer Bottom */
/* ------------------*\/ */
/* #footer-bottom { */

/*     position: relative; */
/*     padding: 10px 0 5px 0; */
/* } */


/* #footer-bottom a {color: #fff} */
/* #footer-bottom a:hover {color: #F38630;} */


/* Back To Top
------------------*/
#scroll-to-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: none;
    z-index: 1;
}

#scroll-to-top a {
    width: 35px;
    height: 35px;
    display: block;
    background-color: rgb(194,194,194);
    background-image: url(../images/scroll-top-top.png);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-left: -10px;
}

#scroll-to-top a:hover {
    background-color: #F38630;
}


#sidebar-- { 
    /* max-width:300px;  */
    /* background: #3d9444;  */
    /* padding-left: 20px; */
    margin-bottom: 20px;
    /* has to be same height as door for spacing reasons */
    height: 450px; 
    width 200px; 
} 

#homeContents {
    padding-bottom: 30px;
}


@media only screen and (max-width: 767px){
    #sidebar-- {display:none; visibility: hidden;}
    
    .menubar {
	margin-bottom:25px;
	margin-left:20px;
    }
    
    .connectblock {
	margin-left: auto;
	margin-right: auto;
	width: 200px;  
	height:80px;
	/* margin-bottom:-30px; */
	padding-left:50px;
    }
    
    .social-icons {
	padding-left:0px;
    }
    .addthis_button {
	margin-left: -50px;
    }

}
/* #knob { */
/*     background:white; */
/*     width: 15px;  */
/*     height: 15px; */
/*     margin-top: 250px;  */
/*     margin-left: 75%; */
/* } */


#slogan-- {
    background-color: #3D9444;
    color: #f3f3f3;
    width:100%;
    /* margin: 0 -10px 20px -10px; */
    font-size: 13px;
    /* margin-left:20px; */
    margin-bottom:20px;
}

#slogan-- h1 {
    padding-left:20px;
}

.epiceditors {
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    height: 600px;
    /* margin-top: 20px; */
}

h1 {
    font-size: 22pt;
    color:black;
    
}

h2 {
    font-size: 18pt;
    /* color: #f26500; /\*burnt orange*\/ */
    color: #3D9444; /*logo green*/
    /* color: black; /\*burnt orange*\/ */
}

h3 {
    font-size: 14pt;
    font-weight: bold;
    color:black;
}

h4 {
    font-size: 11pt;
    color: black; 
}

h5 {
    font-size: 11pt;
    color: black; 
}

h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
    margin: 5px 0 20px;
    font-weight:300;
}

h3 {
    margin-top:18px;
    margin-bottom:3px;
}


/* .menu ul a span { */
/*     color: #FFFFFF; */
/*     font-size: 12px; */
/*     line-height: 18px; */
/* } */


.tab-image {
    margin: 0 20px 10px 20px; 
    background: #fff; 
    border: 4px solid #fff;
    position: relative; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    -o-border-radius: 4px; border-radius: 4px; 
    box-shadow: 0 1px 4px rgba(0,0,0,.2); 
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    zoom: 1;
    
}


.inline-image {
    margin: 0 0px 10px 10px; 
    background: #fff; 
    border: 4px solid #fff;
    position: relative; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    -o-border-radius: 4px; border-radius: 4px; 
    box-shadow: 0 1px 4px rgba(0,0,0,.2); 
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    zoom: 1;
    
}



@media only screen and (min-width: 1200px){
    
.menubar {
    padding-bottom:10px;
} 

    
#selectnav1 { 
        display: none; 
    } 
    /*#navigation{width:1000px;}*/
#social-- h2 {
    text-align:right;
}
    
}

@media only screen and (max-width: 900px) {
   .fixedbar #studentLogin-- {
       display:none;
       }
   } 

@media only screen and (min-width: 960px) and (max-width: 1199px) {

    
.menubar {
    padding-bottom:35px;
} 

#selectnav1 { 
        display: none; 
    } 
#social-- h2 {
    text-align:right;
}
/* .selectnav {  */
/*         display: none;  */
/*     }  */
 /*    .flexslider.home { */
 /*        min-height: 400px; */
 /*    } */
 /* #navigation{width:980px;} */


}
@media only screen and (min-width: 768px) and (max-width: 979px){
    
    
    .menubar {
	padding-bottom:15px;
    } 

    
    
    #rightBar-- {
	display:none;
    }
    
    #sidebar-- {
	margin-right:45px;
	
    }	
    .inline-image {
	margin-left: 20px;
	width:480px;
    }
    #slideShow-- {
	margin-left: 20px;
	width:480px;
    }
    .inline-image.ratio-tabimage {
	padding-bottom:24%
    }
    #navigation{
	/* width:765px; */
	padding-bottom:20px;
	
    }
    /*  .entry-title{font-size: 40px;} */
    .selectnav { 
        display: none; 
    } 
    #selectnav1 { 
        display: none; 
    } 
    /*  #footer{width: 724px;} */
    /*   .view-tenth:hover .mask{padding-top: 0px;} */

    #social-- h2 {
	text-align:right;
    }
    
}

@media only screen and (max-width: 767px){
    
#bottomRow {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
}

#social-- h2 {
    text-align:right;
}
    /* .sidebar-title .right-ribbon{display: none;} */
  /* #navigation{margin-left: 0px; float: left;} */
    /* .entry-title{margin-left: -30px; font-size: 30px;} */

    /* #sub-menu{float:left;margin:5px 0 0 0} */
    /* #tagline,.social-icons,.contact-details,.top-search,.slide-caption,.js #responsive,.left-corner,.right-corner{display:none} */
    /* .portfolio-item,.recent-blog{margin:0 0 40px 0} */
    /* .portfolio-item1 { */
    /*     margin: 5px 0 25px 0 !important; */
    /* } */
    /* .js .selectnav{display:block} */
    /* #navigation{margin:0;width:100%;height:auto;background:transparent} */
    .selectnav{cursor:pointer;padding:10px;margin:0 0 30px 100px;float:left;font-size:14px}
    /* #header{min-height:115px} */

    /* #footer, .container{width: auto;} */
    /* section .container{width: auto;} */
    /* #footer{width: auto;} */
    /* #navigation { */
    /*     float: none; */
    /* } */

    .selectnav { 
        display: block; 
    } 

    /* .js #nav, */
    /* .slide-caption, */
    /* .search-form, */
    /* #tagline, */
    /* .social-icons, */
    #nav,
    #navigation ul li a { 
        display: none; 
    } 

    /* .social-icons.about { */
    /*     display: block; */
    /*     margin-bottom: 30px; */
    /* } */

    /* #contact-top { */
    /*     text-align: center; */
    /*     float: left; */
    /* } */

    /* #scroll-top-top { */
    /*     display: none; */
    /* } */

    /* .icon-box i { */
    /*     margin-left: -10px !important; */
    /* } */

    /* .post-meta { */
    /*     display: none; */
    /* } */

    /* .post-title h2 { */
    /*     line-height: 26px; */
    /*     margin-bottom: 15px; */
    /* } */

    /* .post-icon { */
    /*     margin-top: -10px; */
    /* } */

    /* #filters, */
    /* #portfolio-navi { */
    /*     position: relative; */
    /*     display: block; */
    /*     margin: 0 0 23px 0; */
    /* } */

    /* #phone h1{font-size: 50px; line-height: 50px;} */
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    #wrapper {
	padding-bottom:600px;
    }
    .social-icons { 
	float: left;
	}
    #social-- {
	text-align:left;
	}
   #slideShow-- {
       padding-top:30px;
       padding-left:0px;
       padding-right:0px;
       }
   #feedback-- {
       display:none;
       }
   
    #wisenetLogin {
	display:none;
	}
    
    #social-- h2 {
	text-align:left;
    }
    
    .ng-view #image-- {
	/* margin-bottom:-50px; */
	padding-left:0px;
	padding-right:0px;
	/* padding-top:30px; */
    }
    .tab-image {
	/* padding-bottom:0px; */
    }
    .fixedbar {
	display:none;
	opacity:0;
	}
    /*   #navigation{margin-left: 0px; float: left;} */
    /* .selectnav{width:355px} */
    /* .logo { */
    /*     text-align: center; */
    /* } */
    /* .container.floated{width:420px;padding:0} */
    /* .item1, .item2 {margin-left: 0px !important;} */
}

@media only screen and (max-width: 480px){
    .social-icons { 
	float: left;
	}
    #social-- h2 {
	text-align:left;
    }
   #slideShow-- {
       padding-top:30px;
       padding-left:0px;
       padding-right:0px;
       }
    
   #feedback-- {
       display:none;
       }
   
    #wisenetLogin {
	display:none;
	}
    
    #social-- h2 {
	text-align:left;
    }
    
    .ng-view #image-- {
	/* margin-bottom:-50px; */
	padding-left:0px;
	padding-right:0px;
	padding-bottom:29%;
	/* padding-top:30px; */
    }
    .tab-image {
	padding-bottom:0px;
    }
    /* .logo { */
    /*     text-align: center; */
    /* } */
    /* 	  #navigation{margin-left: 0px; float: left;} */
    /* #wrapper{width: 290px; */
    /*          padding: 10px; padding-top: 0px;} */
    .selectnav{width: 255px; margin-left: 15px; }

    .fixedbar {
	display:none;
	opacity:0;
	}
    /* section .container{width: auto;} */
    /* #footer{width: auto; padding: 10px;} */

    /* .entry-title span.right-ribbon {display: none;} */
    /* .right-ribbon,.top-right-ribbon,.top-left-ribbon,.left-ribbon,.right-corner,.left-corner,.entry-title span.top-left-ribbon {display: none !important;} */
    /* .entry-title{margin-left:-10px; margin-right: -10px;    } */
    /* .entry-title-blog{margin-left:0px; margin-right: 0px;    } */

    /* /\*#navigation.stuck{top: 10px;}*\/ */

    /* .da-slide p, .da-slide h2{width: 100%; padding-left: 0px;} */
    /* .da-slide h2{top: 130px;} */
    /* .da-slide p{top: 220px;} */
    /* .item1, .item2 {margin-left: 0px !important;} */
    /* #phone h1{font-size: 40px; line-height: 40px;} */
    /*.post-icon{margin-top: 10px;}*/

}



.fixedbar{
    position:fixed;
    background: black;
    top:0;
    left:0;
    right:0;
    margin:0;
    z-index:20;
    /* opacity:1; */
    height:32px;
    display: none;
    
    /* -webkit-transition: all 1s ease-in-out;  */
    /* -moz-transition: all 1s ease-in-out;  */
    /* -o-transition: all 1s ease-in-out;  */
    /* -ms-transition: all 1s ease-in-out;  */
    /* transition: all 1s ease-in-out; */
}

#image-- {
    padding-left:12;
}

.slide-out-div {
          padding: 20px;
          width: 250px;
          background: #ccc;
          border: 1px solid #29216d;
	  z-index:300;
      }   
/*  The blackbar at the top is messing with scrolling to tags, so if a  */
/*  md file has div with tags in them we scroll a bit further, the md  */
/* file needs to be in a div with the contents-- tag  */
/* #contents-- div{padding-top: 20px; } */

#yt {
    display: block;
}


#vm {
    display: block;
}

#videolist {
    list-style: none outside none;
}

#videolist li ul {
    list-style: none outside none;
    bo
}

#videolist li h2 {
    margin:0;
    padding-bottom:5px;
    /* margin-top:10px; */
    /* margin-bottom:10px; */
}

#videolist li ul li {
    padding-bottom:10px;
}

#videolist div {
    padding-top:0;
}
#videolist>li>h2 {
    padding-top:22px;
    padding-bottom:15px;
}

#videoBlurb {
    margin-top:-8px;
}

#videoTitle {
    
}

.modal-footer {
    text-align:left;
}

#videolist .container {
    padding-bottom:5px;
}

/* #contactForm input { */
/*     margin-left:18px; */
/* } */

/* #contactForm textarea { */
/*     margin-left:5px; */
/* } */

/* #contactForm { */
/*     margin-top:20px; */
/* } */


.embed-container {
    position: relative;    
    height: 0;
    overflow: hidden;
    background-color:white;   
}
 
.ratio-16-9{
    padding-bottom:56.25%; /* 9/16*100 */
}

.ratio-tabimage{
    padding-bottom:27%; /* 9/16*100 */
}
 
.ratio-4-3{
    padding-bottom:75%; /* 3/4*100 */
}
 
.ratio-1-1{
    padding-bottom:100%; /* ... */  
}

.embed-container img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

/* .menubar { */
/*     padding-bottom:35px; */
/* }  */

/* contactform */
#captchadiv {
    display:none;
}

.form-required {
    color:red;
}

.subscript {
    margin-top:-10px;
    font-size:11px;
    color:gray;
}

.form-label {
    font-weight:600;
    /* color:darkgray; */
}

#username_first {
    /* max-width:150px; */
}

#textmessage, #email {
    /* width:100%; */
}

#textmessage {
    /* min-height:180px; */
}


#username_last {
    /* max-width:100%; */
}

.contactblock {
    padding-left:10px;
    padding-bottom:10px;
}

.bottomimage {
    width:100%;
    /* height:auto; */
    
}

a {
    color:3D9444;
}

#bottomContainer .social-icons {
    /* float:left; */
    padding-top:12px;
    padding-left:13px;
    padding-bottom:9px;
}

.addthis_button {
    padding-left:15px;
}

.connect-title {
    font-size:17px;
    line-height:normal;
    
}

.connect-sub {
    font-size:12px;
}

.verticalline {
    border-left:3px solid; 
    height:40px;
    padding-left:9px;
}


#bottomContainer a {
    color:rgb(167,167,167);
}

.fixedbar #studentLogin-- {
    padding-right:10px;
}

.btn-orange {
    background-color: #F26500;
    background-image: linear-gradient(to bottom,  #f26500, #cc5500);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    Border-Top-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


#wisenetLogin {
    background-image: linear-gradient(to bottom,  #f26500, #cc5500);
    background-color: #f26500; /*burnt orange*/
   } 


/* greendoor */

#greendoor {
    /* background-image: url(../images/door.jpg); */
    height:450px;
    width:220px;
}
.doorlinks a {
    /* color: #3D9444; /\*logo green*\/ */
    /* color: #f26500; /\*burnt orange*\/ */
    color:black;
    font-size:13px;
}

.doorlinks a:active {
    /* color: #3D9444; /\*logo green*\/ */
    /* color: #f26500; /\*burnt orange*\/ */
    color:red;
    font-size:13px;
}

.doorlinks {
    padding:20px 20px 20px 20px;
}
.doorlinks .heading {
    /* padding-bottom:10px; */
}

.doorlinks>ul {
    list-style:none;
    margin-left:0px;
    border: solid 1px darkgrey;
    /* background: #3D9444; /\*logo green*\/  */
    -webkit-border-radius: 15px;  
    -moz-border-radius: 15px;  
    -o-border-radius: 15px;  
    border-radius: 15px;  
    padding-top:10px;
    /* -webkit-border-bottom-left-radius: 15px;   */
    /* -moz-border-bottom-left-radius: 15px;   */
    /* -o-border-bottom-left-radius: 15px;   */
    /* border-bottom-left-radius: 15px;   */
    /* -webkit-border-bottom-right-radius: 15px;   */
    /* -moz-border-bottom-right-radius: 15px;   */
    /* -o-border-bottom-right-radius: 15px;   */
    /* border-bottom-right-radius: 15px;   */
}


.doorlinks li {
    /* background: blue; */
    /* border-bottom: solid 1px darkgrey; */
    /* background: #3D9444; /\*logo green*\/ */
    /* -webkit-border-radius: 4px;  */
    /* -moz-border-radius: 4px;  */
    /* -o-border-radius: 4px;  */
    /* border-radius: 4px;  */
    padding-bottom:5px;
    padding-top:5px;
    padding-left:10px;
    padding-right:5px;
    line-height:15px;
}
.doorlinks .dottedline {
    padding:0px;
    color:lightgray;
    padding-left:40px;
    opacity:.5;
    margin-bottom:0;
}

.doorlinks .selected {
    background: linear-gradient(to bottom,#c3ff93,#69a03c)
}


.doorlinks li:hover  {
    background: linear-gradient(to bottom,#c3ff93,#69a03c);
}

.doorlinks li:hover a {
    color:white;
}

.doorlinks .selected a {
    color:white;
}

.doorlinks-pd li {
    margin-bottom:7px;
}

.doorlinks-aboutus li {
    margin-bottom:28px;
}

.doorlinks-courses li {
    margin-bottom:20px;
}

.doorlinks-resources li {
    margin-bottom:24px;
}

.doorlinks-home li {
    margin-bottom:28px;
}

.doorlinks-enrol li {
    margin-bottom:6px;
}



#contactForm h3 {
    color: #3D9444; /*logo green*/
}


#studentfees-- table {
    border: 1px solid;
    margin-bottom:20px;
}

#studentfees-- tr:first-child {
    background: #3D9444; /*logo green*/
    color: white;
}


#studentfees-- table td{
    border: 1px solid;
    padding-left:7px;
}

#events_sidebar--  {
    background:#f3f3f3;
    padding:8px;
    margin-top:10px;
    border-radius:12px;
} 
#events_sidebar-- p {
    border-top: 1px solid lightgrey;
    padding-top:3px;
    margin-bottom:6px;
}


#events_sidebar-- h3 {
   margin-top:0px; 
} 

.editor {
   width:140px; 
    margin-top:0px;
}

.editor .btn {
    margin-top:0px;
    width: 120px;
}

.buttonlink {
    margin-top:250px;
    margin-left:50px;
}
